body {
    background: lightyellow;
    margin: 5;
    font-family: verdana, sans-serif;
}
head, h1{
    background: #c8f3b8;
    color:  darkolivegreen;
    text-align: center;
    
}
.botton{
    color: white;
    background-color: seagreen;
    border-radius: 25px;
}
table, th, td {
    border:1px solid black;
}
